:root{
    --green: greenyellow;
    --light-purple: #C9BBCF;
    --dark-purple: #898AA6;
    --red: #ECB390;
    --delete: #f5f769;
}
body, .header, .read-box, .add-and-close, #open-modal{
    display: flex;
    align-items: center;
}

.header, .new-book, #book-form > input, .add-and-close, .read-box, #container, .library-card > button, #submit{
    width: 100%;
}

.read, #submit{
    background-color: var(--green);
}

.read, .unread, .delete-button{
    font-size: 1rem;
    font-weight: bold;
}

body{
    background: var(--light-purple);
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}

.header{
    background: var(--dark-purple);
    height: 5vh;
    padding: 1rem;  
}

.library{
    margin-left: 5rem;
    font-size: 2.5rem;
    color: white;
}

.new-book{
position: fixed;
display: none;
height: 100%;
background-color: rgba(0, 0, 0, 0.5)
}

.active{
    display: block;
}

#book-form{  
    position: relative;
    border-radius: 16px; 
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    padding: 2rem;
    margin: 14% auto;
    background-color: #C9BBCF;
}

#book-form > input{
    height: 2rem;
    padding: 2%;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.add-and-close{
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.add-and-close > p{
    margin: 0;
}

.read-box{
    justify-content: center;
    margin-bottom: 10px;
}

#container{
    display: grid;
    justify-content: center;
    max-width: 2000px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    grid-auto-rows: minmax(300px, auto);
    margin-top: 1%;
    gap: 2rem;
}

#open-modal{
font-size: 5rem;
justify-content: center;
}

#read{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.library-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 3px solid #898AA6;
    background: #B7D3DF;
    border-radius: 32px;
    margin: 0.5%;
    padding: 1rem;
}

.title, .author, .pages{
    font-size: 20px;
    margin-bottom: 10px;
}

.author{
    font-size: 15px;
    color: rgb(110, 108, 108);
}

.delete-button {
    color: rgb(204, 38, 74);
    background-color: var(--delete);
}

.round{
    border-radius: 16px;
    padding: 1rem;
    border-style: none;
}

.unread{
    background-color: var(--red);
}

.library-card > button {
    align-self: center;
}

label{
    font-size: 20px;
    margin-bottom: 2px;
}

#submit{
    border-radius: 10px;
    border: none;
    height: 2rem;
    font-family: 'Signika', sans-serif;
    font-size: 1.3rem;
}